header {
  background: teal;
  padding: 1em;
}

.header-container {
  color: black;
  text-align: center;
}

.search-container {
  color: black;
  padding: 1em;
  width: 95%;
  justify-content: space-between;
  display: inline-block;
}
.page {
  color: black;
  padding: 2em;
}

.drop-down {
  display: inline-block;
}
