header {
  background: teal;
  padding: 1em;
}

.header-container {
  color: black;
  text-align: center;
}

.search-container {
  color: black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}