.drop-down {
  color: black;
  font-family: sans-serif;
  font-size: 14pt;
}

.search-button {

  width: 5em;
  height: 2em;
  font-size: 1em;
  
}

label {
  padding: 2em;
  display: flex;
  height: 1em;
}